*
{
    padding: 0px;
    margin: 0px;
}

#socks
{
    background-color:white;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: grab;
    width: 130%;
    height: 100%;
    
}

html
{
    font-size: 100%;

}

.sock_item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sock_item > img
{
    max-width: 95%;
    height: auto;    
}
.sock_item > p
{
    font-family: "Nexa Light";
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
}

@media screen and (max-width:576px)
{
    html
    {
        font-size:40%;
    }
    .sock_item>img
    {
      max-width: 85%;
      height: auto;
    }
    #socks
    {
        width: 150%;
    }
}
