@font-face{
    font-family: "Nexa_Bold";
    src: url(../fonts/Nexa\ Bold.otf);
}

@font-face{
    font-family: "Nexa_Light";
    src: url(../fonts/Nexa\ Light.otf);
}

#container{ 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    font-family: Nexa_Light;
}

.title{
    font-family: Nexa_Bold;
    color: rgb(30 64 122);
    grid-column: 3/5;
    font-size: 50px;
    text-align: center;
}

#ourStoryFlex {
    grid-column: 1/7;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;

}

.box{
    background-color: whitesmoke;
    box-sizing: border-box;
    max-width: 750px;
    min-width: 280px;
    border-style: solid;
    text-align: justify;
}

#greenBox{
    padding: 40px;
    padding-top: 0;
    margin-right: 1em;
    font-size: 25px;
}

#greenBox h2{
    color: rgb(79 178 162);
    font-family: Nexa_Bold;
    text-align: center;
    font-size: 40px;
}

#factBox{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-bottom: 1em;
}

#factBox h2{
    font-family: Nexa_Bold;
    text-align: center;
    margin: 10px;
}

#pictureBox img{
    max-width: 550px;
    min-width: 280px;
    border: 3px solid rgb(0, 0, 0);
}