#container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}


header{
	grid-column: 1/7;
	background-color: rgb(79, 178, 162);
	padding: 10px;
}

header > div > img{
	width: 200px;
	height: auto;
	margin-left: 16px;
	
}

header > div{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

#MenuList{
	font-family: "Nexa Bold";
	font-size: 20pt;
	color: white;
	list-style: none;
	display: flex;
	justify-content: space-around;	
	grid-column: 3/7;
	align-items: center;
}

#Banner{
	
	grid-column: 3/7;
	background-image: url(../img/sunny_socks_photos/catalogus/rsz_sunny_socks_green.png);
	background-size: cover;
	background-position-x:right 0px;
	width: 100%;
	height: 700px;
	

}

#Banner > img{
	width: 1000px;
	height: auto;
	
}


#floatBox{
	height: 500px;
	width: 600px;
	font-family: "Nexa Bold";
	background-color: rgb(79, 178, 162);
	color: white;
	margin-top: 120px;
	font-size: 2.2em;
	text-align: center;
	padding: 20px 40px 10px 40px;
	position: relative;
	left: -450px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
	

}

button{
	background-color: white;
	border: none;
	color: rgb(79, 178, 162);
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	font-family: "Nexa Bold";
	display: inline-block;
	font-size: 25px;
	margin-top: 20px;
}
body
{
    background-image: url("../img/back_ground_image.jpeg");
}
#our_products
{
    grid-column: 1/7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h2
{
    font-family:"Nexa Bold";
    color:rgb(30, 64, 122);
    font-size: 6rem;

    
}
#our_products > p
{
 font-family: "Nexa Light";
 border-style: solid;
 font-size: 2rem;
 width: 90%;
 padding-left: 0.625rem;
 padding-right: 1.5625rem;
 padding-top: 0.625rem;
 padding-bottom: 0.625rem;
 background-color: white;
 margin-top: 30px;
}
#our_products > iframe
{
    margin-top: 2.5rem;
    width: 100%;
    height: 40.6875rem;
    border:solid;
}
#contact_us
{
	text-align: center;
	grid-column: 1/7;
	display: flex;
	flex-direction: column;
	align-items: center;
}
form
{
	width: 70%;
	font-family: "Nexa Light";
	font-size: 1.625rem;
}
#personal_data
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}
#personal_data > input
{
	width: 40%;
	height: 4.25rem;
	margin-bottom: 2rem;
	border-style:solid;
	border-color: black;
	padding-left:2rem;
}
#message
{
	width: 100%;
	height: 18rem;
	border-style: solid;
	border-color: black;
	display: inline-block;
	text-align:start;

}